<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzgo.web.mapper.UserMapper">

    <!--配置MAP -->
    <!--<resultMap type="mail" id="BaseResultMap">-->
    <!--<id column="mail_id" property="id"/>-->
    <!--<result column="mail_content" property="content"/>-->
    <!--<result column="mail_name" property="name"/>-->
    <!--<result column="mail_call" property="call"/>-->
    <!--<result column="mail_email" property="email"/>-->
    <!--<result column="mail_date" property="date"/>-->
    <!--<result column="mail_reply" property="reply"/>-->
    <!--<result column="mail_show" property="show"/>-->
    <!--</resultMap>-->
    <!--表名 -->
    <sql id="tableName">
        USER
    </sql>
    <!-- 字段 -->
    <sql id="Field">
        USER_LOGINNAME,
        USER_PASSWORD,
        USER_LOGINCOUNT,
        USER_LASTLOGINTIME,
        USER_NAME,
        USER_SEX,
        USER_EMAIL,
        USER_TEL,
        USER_NOTE,
        USER_CREATETIME
    </sql>
    <!-- 字段值 -->
    <sql id="FieldValue">
        #{loginName},
        #{password},
        #{loginCount},
        #{lastLoginTime},
        #{name},
        #{sex},
        #{email},
        #{tel},
        #{note},
        #{createTime}
    </sql>
    <!-- 添加 -->
    <insert id="save" parameterType="user">
        INSERT INTO
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        )
        VALUE(
        <include refid="FieldValue"></include>
        )
    </insert>
    <!-- 删除 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM
        <include refid="tableName"></include>
        WHERE USER_ID = #{value}
    </delete>
    <!-- 修改 -->
    <update id="update" parameterType="user">
        UPDATE
        <include refid="tableName"></include>
        <set>
            <if test="loginName!=null">
                USER_LOGINNAME=#{loginName},
            </if>
            <if test="password!=null">
                USER_PASSWORD = #{password},
            </if>
            <if test="loginCount!=0">
                USER_LOGINCOUNT = #{loginCount},
            </if>
            <if test="lastLoginTime!=null">
                USER_LASTLOGINTIME = #{lastLoginTime},
            </if>
            <if test="name!=null">
                USER_NAME = #{name},
            </if>
            <if test="sex!=null">
                USER_SEX = #{sex},
            </if>
            <if test="email!=null">
                USER_EMAIL = #{email},
            </if>
            <if test="tel!=null">
                USER_TEL = #{tel},
            </if>
            <if test="note!=null">
                USER_NOTE = #{note}
            </if>
        </set>

    </update>


</mapper>